openapi: 3.1.0
info:
  title: Knit Unified Departments Jobs API
  description: Knit provides a unified API for B2B products, AI agents, and MCP clients to integrate with HR, recruitment, and collaboration tools. Knit handles cron jobs, rate limits, and retries for predictable data syncing at scale. The API provides standardized endpoints for accessing employee data, time-off, departments, locations, and more across multiple HRIS, ATS, and communication platforms.
  version: v1
  contact:
    name: Knit Developer Support
    url: https://developers.getknit.dev/
  license:
    name: Knit Terms of Service
    url: https://www.getknit.dev/terms
servers:
- url: https://api.getknit.dev/v1
  description: Knit API production endpoint
security:
- apiKey: []
tags:
- name: Jobs
  description: Operations for managing job postings and applications via ATS integrations.
paths:
  /jobs:
    get:
      operationId: listJobs
      summary: List Jobs
      description: Returns a list of job postings from connected ATS integrations.
      tags:
      - Jobs
      parameters:
      - name: integration_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
        '401':
          description: Unauthorized.
components:
  schemas:
    Job:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
        department:
          type: string
        location:
          type: string
        integration_id:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication via Bearer token.
